<section class="parallax-window subheader-custom" data-parallax="scroll" data-image-src="images/sub_header_2.jpg" data-natural-width="1400" data-natural-height="470" style="background-image: url('images/sub_header_2.jpg');">
    <div id="subheader">
	<div id="sub_content">
    	<div id="thumb"><img src="images/thumb_restaurant.jpg" alt=""></div>
                     <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="detail_page_2.html">Read 98 reviews</a></small>)</div>
                    <h1>{{company.name}}</h1>
                    <div><em>{{company.categoryId.name}}</em></div>
                    <div><i class="icon_pin"></i> {{company.adres}} - <strong>Delivery charge:</strong> $10, free over $15.</div>
    </div><!-- End sub_content -->
</div><!-- End subheader -->
</section><!-- End section -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#0">Home</a></li>
                <li><a href="#0">Companies</a></li>
                <li>{{company.name}}</li>
            </ul>
        </div>
    </div><!-- Position -->
    
    <div class="collapse" id="collapseMap">
            <div id="map" class="map"></div>
    </div><!-- End Map -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
		<div class="row">
        
			<div class="col-md-4">
				<p>
					<a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a>
				</p>
				<div class="box_style_2">
					<h4 class="nomargin_top">Opening time <i class="icon_clock_alt pull-right"></i></h4>
					<ul class="opening_list">
						<li>Monday<span>12.00am-11.00pm</span></li>
						<li>Tuesday<span>12.00am-11.00pm</span></li>
						<li>Wednesday <span class="label label-danger">Closed</span></li>
						<li>Thursday<span>12.00am-11.00pm</span></li>
						<li>Friday<span>12.00am-11.00pm</span></li>
						<li>Saturday<span>12.00am-11.00pm</span></li>
						<li>Sunday <span class="label label-danger">Closed</span></li>
					</ul>
				</div>
				<div class="box_style_2 hidden-xs" id="help">
					<i class="icon_lifesaver"></i>
					<h4>Need <span>Help?</span></h4>
					<a href="tel://{{company.phone}}" class="phone">{{company.phone}}</a>
					<small>Monday to Friday 9.00am - 7.30pm</small>
                    
                    <hr class="styled">
                    <a ui-sref="app.company-menu({id: company._id})" class="btn_1 add_bottom_15">View Menu</a>
				</div>
			</div>
            
			<div class="col-md-8">
				<div class="box_style_2">
					<h2 class="inner">Description</h2>

                    <h3>About us</h3>
					<p>
						{{company.description}}
					</p>
					<div id="summary_review">
						<div id="general_rating">
							11 Reviews
							<div class="rating">
								<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
							</div>
						</div>
                        
						<div class="row" id="rating_summary">
							<div class="col-md-6">
								<ul>
									<li>Food Quality
									<div class="rating">
										<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
									</div>
									</li>
									<li>Price
									<div class="rating">
										<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
									</div>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li>Punctuality
									<div class="rating">
										<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
									</div>
									</li>
									<li>Courtesy
									<div class="rating">
										<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
									</div>
									</li>
								</ul>
							</div>
						</div><!-- End row -->
						<hr class="styled">
						<a href="#" class="btn_1 add_bottom_15" data-toggle="modal" data-target="#myReview">Leave a review</a>
					</div><!-- End summary_review -->
                    
					<div class="review_strip_single">
						<img src="images/avatar1.jpg" alt="" class="img-circle">
						<small> - 10 March 2015 -</small>
						<h4>Jhon Doe</h4>
						<p>
							 "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
						</p>
						<div class="row">
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i>
								</div>
								 Food Quality
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Price
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								</div>
								 Punctuality
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								</div>
								 Courtesy
							</div>
						</div><!-- End row -->
					</div><!-- End review strip -->
                    
					<div class="review_strip_single">
						<img src="images/avatar3.jpg" alt="" class="img-circle">
						<small> - 25 March 2015 -</small>
						<h4>Markus Schulz</h4>
						<p>
							 "At sed dico invenire facilisis, sed option sapientem iudicabit ad, sea idque doming vituperatoribus at. Duo ut inani tantas scaevola. Commodo oblique at cum. Duo id vide delectus. Vel et doctus laoreet minimum, ei feugait pertinacia usu.
						</p>
						<div class="row">
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Food Quality
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Price
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Punctuality
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								</div>
								 Courtesy
							</div>
						</div><!-- End row -->
					</div><!-- End review strip -->
                    
					<div class="review_strip_single last">
						<img src="images/avatar2.jpg" alt="" class="img-circle">
						<small> - 10 April 2015 -</small>
						<h4>Frank Cooper</h4>
						<p>
							 "Ne mea congue facilis eligendi, possit utamur sensibus id qui, mel tollit euismod alienum eu. Ad tollit lucilius praesent per, ex probo utroque placerat eos. Tale verear efficiendi et cum, meis timeam vix et, et duis debet nostro mel. Aeterno labitur per no, id nec tantas nemore. An minim molestie per, mei sumo vulputate cu."
						</p>
						<div class="row">
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i>
								</div>
								 Food Quality
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Price
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i>
								</div>
								 Punctuality
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Courtesy
							</div>
						</div><!-- End row -->
					</div><!-- End review strip -->
                    
				</div><!-- End box_style_1 -->
			</div>
		</div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->