<section class="parallax-window subheader-custom" data-parallax="scroll" data-image-src="images/sub_header_2.jpg" data-natural-width="1400" data-natural-height="470" style="background-image: url('images/sub_header_2.jpg');">
    <div id="subheader">
	<div id="sub_content">
    	<div id="thumb"><img src="images/thumb_restaurant.jpg" alt=""></div>
                     <div class="rating">
						 <i class="icon_star voted"></i>
						 <i class="icon_star voted"></i>
						 <i class="icon_star voted"></i>
						 <i class="icon_star voted"></i>
						 <i class="icon_star"></i>
						 (<small><a href="detail_page_2.html">Read 98 reviews</a></small>)
					</div>
                    <h1>{{company.name}}</h1>
                    <div><em>{{company.categoryId.name}}</em></div>
                    <div><i class="icon_pin"></i> {{company.adres}} - <strong>Delivery charge:</strong> $10, free over $15.</div>
    </div><!-- End sub_content -->
</div><!-- End subheader -->
</section><!-- End section -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#0">Home</a></li>
                <li><a href="#0">Companies</a></li>
                <li>{{company.name}}</li>
            </ul>
        </div>
    </div><!-- Position -->
    
    <div class="collapse" id="collapseMap">
            <div id="map" class="map"></div>
    </div><!-- End Map -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
		<div class="row">
        
			<div class="col-md-4">
				<p>
					<a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a>
				</p>
				<div class="box_style_2">
					<h4 class="nomargin_top">Opening time <i class="icon_clock_alt pull-right"></i></h4>
					<ul class="opening_list">
						<li>
							Monday
							<span ng-show="company.hours.monday.enable">
								{{hours(company.hours.monday.start)}} - {{hours(company.hours.monday.end)}}
							</span>
							<span ng-hide="company.hours.monday.enable" class="label label-danger">Closed</span>
						</li>
						<li>
							Tuesday
							<span ng-if="company.hours.tuesday.enable">
								{{hours(company.hours.tuesday.start)}} - {{hours(company.hours.tuesday.end)}}
							</span>
							<span ng-if="!(company.hours.tuesday.enable)" class="label label-danger">Closed</span>
						</li>
						<li>
							Wednesday
							<span ng-if="company.hours.wednesday.enable">
								{{hours(company.hours.wednesday.start)}} - {{hours(company.hours.wednesday.end)}}
							</span>
							<span ng-if="!(company.hours.wednesday.enable)" class="label label-danger">Closed</span>
						</li>
						<li>
							Thursday
							<span ng-if="company.hours.thursday.enable">
								{{hours(company.hours.thursday.start)}} - {{hours(company.hours.thursday.end)}}
							</span>
							<span ng-if="!(company.hours.thursday.enable)" class="label label-danger">Closed</span>
						</li>
						<li>
							Friday
							<span ng-if="company.hours.friday.enable">
								{{hours(company.hours.friday.start)}} - {{hours(company.hours.friday.end)}}
							</span>
							<span ng-if="!(company.hours.friday.enable)" class="label label-danger">Closed</span>
						</li>
						<li>
							Saturday
							<span ng-if="company.hours.saturday.enable">
								{{hours(company.hours.saturday.start)}} - {{hours(company.hours.saturday.end)}}
							</span>
							<span ng-if="!(company.hours.saturday.enable)" class="label label-danger">Closed</span>
						</li>
						<li>
							Sunday
							<span ng-show="company.hours.sunday.enable">
								{{hours(company.hours.sunday.start)}} - {{hours(company.hours.sunday.end)}}
							</span>
							<span ng-hide="company.hours.sunday.enable" class="label label-danger">Closed</span>
						</li>
					</ul>
				</div>
				<div class="box_style_2 hidden-xs" id="help">
					<i class="icon_lifesaver"></i>
					<h4>Need <span>Help?</span></h4>
					<a href="tel://{{company.phone}}" class="phone">{{company.phone}}</a>
                    
                    <hr class="styled">
                    <a ui-sref="app.company-menu({id: company._id})" class="btn_1 add_bottom_15">View Menu</a>
				</div>
			</div>
            
			<div class="col-md-8">
				<div class="box_style_2">
					<h2 class="inner">Description</h2>

                    <h3>About us</h3>
					<p>
						{{company.description}}
					</p>
					<div id="summary_review">
						<div id="general_rating">
							{{company.comments.length}} Reviews
							<div class="rating">
								<i class="icon_star" ng-class="{{ overallR }} >= 1 ? 'voted' : ''"></i>
								<i class="icon_star" ng-class="{{ overallR }} >= 2 ? 'voted' : ''"></i>
								<i class="icon_star" ng-class="{{ overallR }} >= 3 ? 'voted' : ''"></i>
								<i class="icon_star" ng-class="{{ overallR }} >= 4 ? 'voted' : ''"></i>
								<i class="icon_star" ng-class="{{ overallR }} >= 5 ? 'voted' : ''"></i>
							</div>
						</div>
						<hr class="styled">
						<a ng-if="loggedIn" href="" ng-click="openComment()" class="btn_1 add_bottom_15">Leave a review</a>
					</div><!-- End summary_review -->
                    
					<div class="review_strip_single" ng-repeat="comment in company.comments">
						<img src="images/avatar1.jpg" alt="" class="img-circle">
						<small> - {{comment.createdAt | date:'dd MMM yyyy'}} -</small>
						<h4>{{comment.postedBy.firstname}} {{comment.postedBy.lastname}}</h4>
						<p>
							 "{{comment.comment}}"
						</p>
						<div class="row">
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star" ng-class="{{ comment.rating }} >= 1 ? 'voted' : ''"></i>
									<i class="icon_star" ng-class="{{ comment.rating }} >= 2 ? 'voted' : ''"></i>
									<i class="icon_star" ng-class="{{ comment.rating }} >= 3 ? 'voted' : ''"></i>
									<i class="icon_star" ng-class="{{ comment.rating }} >= 4 ? 'voted' : ''"></i>
									<i class="icon_star" ng-class="{{ comment.rating }} >= 5 ? 'voted' : ''"></i>
								</div>
								 Rating
							</div>
						</div><!-- End row -->
					</div><!-- End review strip -->
                    
				</div><!-- End box_style_1 -->
			</div>
		</div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->