<section class="parallax-window subheader-custom" id="short" data-parallax="scroll" data-image-src="images/sub_header_short.jpg" data-natural-width="1400" data-natural-height="350" style="background-image: url('images/sub_header_short.jpg');">
    <div id="subheader">
	<div id="sub_content">
    	<h1>You have {{favorites.length}} favorites</h1>
    </div><!-- End sub_content -->
</div><!-- End subheader -->
</section><!-- End section -->

	<div id="position">
        <div class="container">
            <ul>
                <li><a href="" ui-sref="app">Home</a></li>
				<li>User</li>
                <li>Favorites</li>
            </ul>
        </div>
    </div><!-- Position -->
    
    <div class="collapse" id="collapseMap">
		<div id="map" class="map"></div>
	</div><!-- End Map -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
	<div class="row">
    
		<div class="col-md-3">
			<div class="box_style_2 hidden-xs" id="help">
                <i class="icon_lifesaver"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                <small>Monday to Friday 9.00am - 7.30pm</small>
                
                <hr class="styled">
                <a ui-sref="app.contactus" class="btn_1 add_bottom_15">Contact Us</a>
            </div>
		</div><!--End col-md -->
        
		<div class="col-md-9">
        
		<!--
        <div id="tools">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="styled-select">
							<select name="sort_rating" id="sort_rating">
								<option value="" selected>Sort by ranking</option>
								<option value="lower">Lowest ranking</option>
								<option value="higher">Highest ranking</option>
							</select>
						</div>
					</div>
					<div class="col-md-9 col-sm-6 hidden-xs">
						<a href="grid_list.html" class="bt_filters"><i class="icon-th"></i></a>
					</div>
				</div>
			</div><!--End tools -->
        	
			<div ng-repeat="favorite in favorites" class="strip_list wow fadeIn" data-wow-delay="0.1s">
				<div class="row">
					<div class="col-md-9 col-sm-9">
						<div class="desc">
							<div class="thumb_strip">
								<a ui-sref="app.company-profile({id: favorite.company._id})"><img src="images/thumb_restaurant.jpg" alt=""></a>
							</div>
							<div class="rating">
								<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="#0">98 reviews</a></small>)
							</div>
							<h3><a ui-sref="app.company-menu({id: favorite.company._id})">{{favorite.company.name}}</a></h3>
							<div class="type">
								{{favorite.company.categoryId.name}}
							</div>
							<div class="location">
								{{favorite.company.adres}}
							</div>
							<ul>
								<li>Take away<i class="icon_check_alt2" ng-class="{{favorite.company.takeout}} ? 'ok' : 'no'"></i></li>
								<li>Delivery<i class="icon_check_alt2" ng-class="{{favorite.company.delivery}} ? 'ok' : 'no'"></i></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="go_to">
							<div>
								<a href="" ng-click="deleteFavorite(favorite._id)" class="btn_1">Delete Favorite</a>
							</div>
						</div>
					</div>
				</div><!-- End row-->
			</div><!-- End strip_list-->  
		</div><!-- End col-md-9-->
        
	</div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->