<section class="parallax-window subheader-custom" id="short"  data-parallax="scroll" data-image-src="images/sub_header_2.jpg" data-natural-width="1400" data-natural-height="350" style="background-image: url('images/sub_header_2.jpg');">
    <div id="subheader">
    	<div id="sub_content">
    	 <h1>My Profile</h1>
         <p>Qui debitis meliore ex, tollit debitis conclusionemque te eos.</p>
        </div><!-- End sub_content -->
	</div><!-- End subheader -->
</section><!-- End section -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#0">Home</a></li>
                <li><a href="#0">Category</a></li>
                <li>Page active</li>
            </ul>
        </div>
    </div><!-- Position -->
    
    <div class="collapse" id="collapseMap">
            <div id="map" class="map"></div>
    </div><!-- End Map -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
		<div class="row">
        
			<div class="col-md-4">
				<div class="box_style_2 hidden-xs" id="help">
					<i class="icon_lifesaver"></i>
					<h4>Need <span>Help?</span></h4>
					<a href="tel://004542344599" class="phone">+45 423 445 99</a>
					<small>Monday to Friday 9.00am - 7.30pm</small>
					
					<hr class="styled">
					<a ui-sref="app.contactus" class="btn_1 add_bottom_15">Contact Us</a>
				</div>
			</div>
            
			<div class="col-md-8">
				<div class="box_style_2">
					<h2 class="inner">Profile</h2>

                    
						<div class="review_strip_single">
							<img src="images/avatar1.jpg" alt="" class="img-circle">
							<small> - {{user.username}} -</small>
							<h4>{{user.firstname}} {{user.lastname}}</h4>
						</div><!-- End review strip -->
                        
						<div class="row" id="rating_summary">
							<div class="col-md-6">
								<ul>
									<li>
                                        <strong>Firstname:</strong> 
                                        <input type="text" class="form-control" value="{{user.firstname}}" ng-model="user.firstname">
                                    </li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li>
                                        <strong>Lastname:</strong> 
                                        <input type="text" class="form-control" value="{{user.lastname}}" ng-model="user.lastname">
                                    </li>
								</ul>
							</div>
						</div><!-- End row -->
                        <div class="row" id="rating_summary">
							<div class="col-md-6">
								<ul>
									<li>
                                        <strong>Username:</strong> 
                                        <input type="text" class="form-control" value="{{user.username}}" ng-model="user.username">
                                    </li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li>
                                        <strong>Email:</strong> 
                                        <input type="text" class="form-control" value="{{user.email}}" ng-model="user.email">
                                    </li>
								</ul>
							</div>
						</div><!-- End row -->
						<hr class="styled">
						<a ng-click="editProfile()" class="btn_1 add_bottom_15">Save</a>
					
                    
				</div><!-- End box_style_1 -->
			</div>
		</div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->