<div class="wrapper">
    <div ui-view="Asidebar"></div>

    <div class="main-panel">
        <div ui-view="Anavbar"></div>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <button type="button" class="btn btn-info btn-fill pull-right" ui-sref="app.admin-category">Go Back</button>
                                <h4 class="title">Add category</h4>
                            </div>
                            <div class="content">
                                <form  ng-submit="addCategory()">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Category Name</label>
                                                <input type="text" class="form-control" ng-model="cName.name">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-fill pull-right">Add Category</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div ui-view="Afooter"></div>

    </div>
</div>