<div class="wrapper">
    <div ui-view="Asidebar"></div>

    <div class="main-panel">
        <div ui-view="Anavbar"></div>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <button type="button" ui-sref="app.admin-category-add" class="btn btn-info btn-fill pull-right">Add Category</button>
                                <h4 class="title">Company Categories</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>ID</th>
                                        <th>Name</th>
                                    	<th>Created</th>
                                    	<th>Updated</th>
                                        <th>Actions</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="category in categories">
                                            <td>{{$index + 1}}</td>
                                            <td>{{category.name}}</td>
                                        	<td>{{category.createdAt}}</td>
                                        	<td>{{category.updatedAt}}</td>
                                            <td><a ui-sref="app.admin-category-details({id: category._id})" class="btn btn-primary" type="button">Edit</a> &nbsp; <button class="btn btn-danger" ng-click="deleteCategory(category._id)" type="button">Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ui-view="Afooter"></div>


    </div>
</div>