<div class="wrapper">
    <div ui-view="Asidebar"></div>

    <div class="main-panel">
        <div ui-view="Anavbar"></div>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Orders</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="card" ng-repeat="order in orders">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Order Placed<br>
                                                    {{order.createdAt | date:'MMM. dd, yyyy'}}
                                                </div>
                                                <div class="col-md-3">
                                                    Total<br>
                                                    {{order.totalPrice/100 | currency}}
                                                </div>
                                                <div class="col-md-3">
                                                    Client<br>
                                                    {{order.userId.firstname}} {{order.userId.lastname}}
                                                </div>
                                                <div class="col-md-3">
                                                    Order ID<br>
                                                    {{order._id}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-md-8">
                                                </div>
                                                <div class="col-md-2">
                                                    <strong>Quantity</strong>
                                                </div>
                                                <div class="col-md-2">
                                                    <strong>Sub Total</strong>
                                                </div>
                                            </div>
                                            <div class="row" ng-repeat="details in order.details">
                                                <div class="col-md-8 media">
                                                    <div class="media-left media-middle">
                                                        <a>
                                                        <img class="media-object img-thumbnail"
                                                        src="https://account.socialbakers.com/default_user.png" width="75">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <strong class="media-heading">{{details.dishId.name}}</strong>
                                                        <br>
                                                        {{details.dishId.description | limitTo:80}}...
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    {{details.quantity}}
                                                </div>
                                                <div class="col-md-2">
                                                    {{details.SubTotalPrice/100 | currency}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ui-view="Afooter"></div>


    </div>
</div>